.conta {
  background-color: gray;
}
.qq {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.qq:hover {
  background-color: rgba(33, 150, 243, 1);
}
.qq:hover svg {
  fill: ffff;
}
.img3 {
  width: 44px;
  height: 44px;
  background-color: rgba(33, 150, 243, 1);
  border-radius: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.img2 {
  margin-bottom: 50px;
  padding-right: 10px;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(33, 150, 243, 1);
  /* border-width: 2px;
  border-color: rgba(33, 150, 243, 1); */
}
